sources:
  system_logs:
    type: {{ vector_configuration.sources.my_source_id.type }}
    include:
      - "/var/log/messages"
      - "/var/log/syslog"

transforms:
  remap_logs:
    type: remap
    inputs:
      - system_logs
    source: |
      .timestamp = to_string!(.timestamp)
      .host = "server-1"

sinks:
  clickhouse:
    type:  {{ vector_configuration.sinks.my_sink_id.type }} 
    inputs:
      - remap_logs
    endpoint: "http://{{ hostvars['clickhouse-01']['ansible_default_ipv4']['address'] }}:8123"
    database: {{ vector_configuration.sinks.my_sink_id.database }}
    table: {{ vector_configuration.sinks.my_sink_id.table }}
