<VirtualHost *:80>
    ServerAdmin webmaster@example.com
    DocumentRoot "/var/www/html/lighthouse-master"
    ServerName lighthouse
    ErrorLog "/var/log/httpd/lighthouse-error_log"
    CustomLog "/var/log/httpd/lighthouse-access_log" combined
</VirtualHost>